/* STYLES GÉNÉRAUX */

body {
	font-family: 'PT Sans', 'sans-serif';
}
p {
	letter-spacing: 2px;
}
h2, h3+p, h3 {
	margin-left: 15px;
}
h2 {
	text-decoration: underline;
}
footer {
	text-align: center;
}

nav div form {
	display: inline;
}

nav {
	margin-top: 20px;
}

span a {
	padding-left: 15px;
	padding-right: 15px;
	letter-spacing: 1px;
	border-right: 2px groove;
}
hr {
	padding: 1px;
	background:#EE9215;
	border:0;
	clear: both;
	margin-left: -0.5em;
	margin-right: -0.5em;
}

footer hr {
	margin-top: 40px;

}
nav hr {

	margin-bottom: 40px;
}

.bord_separation {
	border-top: solid 1.2px;
	border-bottom: solid 1.2px;
	margin-right: -0.5em;
	margin-left: -0.5em;
}


/* STYLES DE L'ACCUEIL */

/* Message d'accueil */
.mess_accueil {
	font-style: italic;
	text-align: center;
}

/* Enlève le soulignement de l'hypertexte */

span a, .border, .ajout_panier, .descr_nom_pneu {
	text-decoration: none;
	color: black;
}

/* Styles du formulaire de recherche */

#search-btn, #search {
	border-radius: 5px;
	padding-left: 5px;
	font-family: 'PT Sans', 'sans-serif';
}

#search-btn {
	background-color: #EE9215;
	color: white;
	border-color: #EE9215;
}

.recherche {
	display: inline-block;
	vertical-align: top;
	letter-spacing: 2px;
	float: right;
}

/* Produits du moment */
#prod {
	text-align: center;
	font-family: 'PT Sans', 'sans-serif';
	letter-spacing: 2px;
}

/* Promo */

#promo {
	color: red;
	text-align: center;
	font-family: 'PT Sans', 'sans-serif';
	letter-spacing: 2px;
	border: solid 1.2px;
	color: white;
	background-color: red;
	text-transform: uppercase;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-right: -0.35em;
	margin-left: -0.36em;
}

/* Bordure des différents pneus en promo */

.border {
	padding-top: 10px;
	padding-left: 10px;
	margin-bottom: 8px;
	margin-left: 8px;
	display: inline-block;
	border: solid 1.2px;
	border-radius: 10px;
	width: 240px;
}

/* Barre le prix des pneus */
main a strike, main div strike {
	color: red;
}

/* Met en gras le nom des pneus */

main p strong {
	font-size: 16pt;
}

/* DESCRIPTION DIFFERENTS PNEUS */

/* Image pneu*/
.box_description_left {
	padding-top: 10px;
	padding-left: 10px;
	margin-bottom: 8px;
	margin-left: 8px;
	display: inline-block;
	border-radius: 10px;
	width: 240px;
}

/*Description détaillé du pneu*/
.box_description_center {
	display: inline-block;
	vertical-align: top;
	width: 330px;
	padding-left: 200px;
	letter-spacing: 2px;
}

/* Prix + bouton ajout */
.box_description_right {
	display: inline-block;
	vertical-align: top;
	letter-spacing: 2px;
	width: 240px;
	padding-left: 200px;
}

.descr_nom_pneu {
	font-weight: bold;
	font-size: 16pt;
}

.descr_nom_categ {
	font-weight: bold;
	text-decoration: underline;
	font-size: 12pt;
	color: #EE9215;
}

.descr_categ {
	font-size: 10pt;
}

/* Bouton "Ajouter au panier" */

.ajout_panier {
	padding: 9px;
	border: solid 1px;
	border-radius: 13px;
	background-color: #EE9215;
	color: white;
}

/* RECHERCHE PRODUIT */

.search_description_left {
	padding-top: 10px;
	padding-left: 10px;
	margin-bottom: 8px;
	margin-left: 8px;
	display: inline-block;
	border-radius: 10px;
	width: 240px;
	height: 100px;
}

.search_description_center {
	display: inline-block;
	vertical-align: top;
	width: 330px;
	height: 100px;
	padding-top: 10px;
	padding-left: 200px;
	letter-spacing: 2px;
	font-size: 14pt;
}

.search_description_right {
	display: inline-block;
	vertical-align: top;
	letter-spacing: 2px;
	width: 240px;
	height: 100px;
	padding-top: 10px;
	padding-left: 200px;
	font-size: 9pt;
}

/* PAGE PANIER */

.prix_prod {
	display: inline-block;
	vertical-align: top;
	letter-spacing: 2px;
	width: 140px;
	height: 100px;
	margin-left: 100px;
	padding-top: 10px;
	padding-left: 40px;
	font-size: 9pt;
}
.quant {
	letter-spacing: 2px;
	margin-top: 20px;
	padding-right: 90px;
	font-size: 11pt;
}

.del_prod {
	display: inline-block;
	vertical-align: top;
	text-align: right;
	width: 240px;
	height: 100px;
	margin-top: 10px;
	padding-top: 10px;
	padding-right: 10px;
}

h4 {
	padding-right: 10px;
}

/* PAGE COORDONNEES LIVRAISON */

/* Formulaire coordonnes */
.etat_commande {
	margin-bottom: 20px;
}

#form_adresse label {
	width: 150px;
	display: block;
	font-size: 14pt;
	font-weight: bold;
}

#form_adresse, #form_carte {
	border: solid grey 1.2px;
	padding: 10px;
	width: 400px;
	border-radius: 5px;
}
#form_adresse input, #form_carte input {
	width: 400px;
	margin-top: 3px;
	margin-bottom: 3px;
}

.button_sub {
	border: solid 1px;
	border-radius: 13px;
	background-color: #EE9215;
	color: white;
	height: 0px;
	width: 0px;
}
.button_sub input {
	font-size: 14pt;
}
.adresse {
	height: 40px;
}

/* PAGE PAIEMENT */

/* Formulaire paiement */

#form_carte label {
	display: block;
	font-weight: bold;
	font-size: 14pt;
	margin-top: 5px;
	margin-bottom: 5px;
}

.active {
	margin-left: 15px;
}

/* PAGE QUI SOMMES-NOUS */

/* Titre */
.lequipe {
	letter-spacing: 2px;
	margin-left: 15px;
}

.image_reduit {
	width: 90%;
	height: 60%;
}

.box_description_equipe_right {
	display: inline-block;
	vertical-align: top;
	letter-spacing: 2px;
	width: 700px;
	padding-left: 80px;
}